@import url('https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.navbar {
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
}

.logo h2 {
    margin-top: 38px;
    font-family: 'Galada', cursive;
    font-size: 2rem;
    color: #ffffff;
    transition: color 0.3s;
}

.logo h2:hover {
    color: #FFD700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFD700;
}


.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    color: white;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links a {
        font-size: 1.5rem;
    }




}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.job,
.cert,
.edu {
    margin-bottom: 20px;
}

.job h3,
.cert h3,
.edu h3 {
    margin: 0;
    font-size: 1.5rem;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
}

.social-media {
    margin-top: 10px;
}

.social-icon {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #FFD700;
    transform: scale(1.1);
}

a {
    color: #ff9505;
}